html, body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.top-header {
    background-color: rgb(29, 29, 29);
}

.menu-item {
    color: white;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

.brand {
    font-size: 18px;
    font-weight: 600;
}

.main-contect {
    max-width: 700px;
    margin: auto;
}

.box {
    background-color: white;
    padding: 20px;
    margin: 30px;
}

.img {
    width: 100%;
}

.button {
    color: black;
    background-color: gray;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

.bottom-footer {
    background-color: rgb(87, 87, 87);
    padding: 20px;
    text-align: center;
}